@model BhartiNetwork.Models.Admin

@{
    ViewBag.Title = "GetContactList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("GetContactList", "Admin", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
{   <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Contact List</h4>
                    <p style="color:red;">
                        @TempData["Contact"]
                    </p>
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            @*<a href="/Admin/ContactUs" class="btn btn-primary" style="border-radius:100px;">Add New</a>*@
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exampleInputName1"> Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = " Name" })
                            </div>
                        </div>
                        @*<div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Subject</label>
                                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "Subject" })
                                </div>
                            </div>*@
                        <div class="col-sm-3">
                            <input type="submit" value="Search" class="btn btn-success" name="btnSearch" id="btnSearch" style="margin-top:25px;" />
                        </div>
                    </div>


                    <div class="row">
                        
                        <div class="col-12">
                            <div class="col-md-3 mb-4">
                                <input type="submit" id="btnDeleteMultipleContact" name="btnDeleteMultipleContact" onclick="return Validate();" class="btn btn-danger" value="Delete Multiple Records" />
                            </div>
                            <div class="table-responsive">

                                <table id="file_export" class="table table-striped table-bordered display" >
                                    <thead>
                                        <tr>
                                            <th hidden></th>
                                            <th><INPUT type="checkbox" onchange="checkAll(this)" name="chk[]" /> Select All</th>
                                            <th>S No.</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Subject</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstContact != null)
                                            {
                                                int i = 1;
                                                foreach (var item in Model.lstContact)
                                                {
                                                    <tr>
                                                        <td hidden><input type="hidden" id="PK_ContactId_@i" name="PK_ContactId_@i" value="@item.ContactId" /></td>
                                                        <td><input type="checkbox" name="chkpayment_@i" id="chkpayment_@i" />&nbsp;&nbsp;&nbsp;&nbsp; </td>

                                                        <td>@i</td>
                                                        <td>@item.Name</td>
                                                        <td>@item.Email</td>
                                                        <td>@item.Subject</td>
                                                        <td style="white-space:pre-line">@item.Address</td>
                                                        <td>
                                                            @*<a href="/Admin/ContactUs?Id=@item.ContactId" class="btn btn-info btn-sm">Edit</a>*@
                                                            <a href="/Admin/ContactDelete?Id=@item.ContactId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want delete this record ?')">Delete</a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }

                                                <input type="hidden" id="hdRows" name="hdRows" value="@i" />
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


<script>


    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }

    //function Validate() {
    //    debugger;
    //    if ($('input[type=checkbox]:checked').length == 0) {
    //        alert("ERROR! Please select at least one checkbox");
    //        return false;
    //    }
    //    return true;
    //}
    function Validate() {
        debugger;
        if ($('input[type=checkbox]:checked').length == 0) {
            alert("ERROR! Please select at least one checkbox");
            return false;
        }
        else {
            var r = confirm('Are you sure you want to delete these records ?')
            @*if (r == true) {
                var hdRows = $('#hdRows').val();
                var chkpayment_ = $('#chkpayment_').val();
                $.ajax({
                    url: "/Admin/DeleteGetContactList",
                    Type: "Get",
                    DataType: "JSON",
                    data: { hdRows: hdRows, chkpayment_: chkpayment_ },
                    success: function (data) {
                        //alert("Payment rejected ");
                        window.location.href = '@Url.Action("DeleteMultipleContact", "Admin")';
                        $("#divload").css({ 'display': 'none' });
                    }

                });
            }*@

        }
    }











    @*function Reject(id, userid) {
        var r = confirm('Are you sure you want to reject this Payment ?');
        if (r == true) {
            $("#divload").css({ 'display': '' });
            var Description = $('#txtdecription').val();
            var Date = $('#txtAppDt').val();
            $.ajax({
                url: "/Plot/RejectPayment",
                Type: "Get",
                DataType: "JSON",
                data: { UserID: userid, Description: $('#txtdecription').val(), ApprovedDate: $('#txtAppDt').val() },
                success: function (data) {
                    alert("Payment rejected ");
                    window.location.href = '@Url.Action("Payment", "Plot")';
                    $("#divload").css({ 'display': 'none' });
                }

            });
        }
    }*@

</script>








