@model BhartiNetwork.Models.Admin

@{
    ViewBag.Title = "InternShipApplication";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    @using (Html.BeginForm("InternShipApplication", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        @*<div class="row">*@
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <h4 class="card-title">InternShip Application Form</h4>
                        @*<hr style="background-color:white" />*@
                        <p style="color:red;">
                            @TempData["InternShip"]
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="exampleInputEmail3">To Address <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "To Address" })
                            </div>
                            <div class="col-sm-4">
                                <label for="exampleInputEmail3">Payment Terms <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form-control", @placeholder = "Payment Terms" })
                            </div>
                            <div class="col-sm-4">
                                <label for="exampleInputEmail3">To Address <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "To Address" })
                            </div>
                            <div class="col-sm-4">
                                <label for="exampleInputEmail3">Payment Terms <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form-control", @placeholder = "Payment Terms" })
                            </div>
                        </div>
                     <br /><br />
                        <div class="row">
                            <div class="col-sm-12" style="overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
                                <table class="table  table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item   <span style="color: red">*</span> </th>
                                            <th>Part No.<span style="color: red">*</span> </th>
                                            <th>Description <span style="color: red">*</span> </th>
                                            <th>HSN/SAC No.  <span style="color: red">*</span> </th>
                                            <th style="display:none" @*id="CGSTRate"*@ class="CGSTSGSTdffdgf">CGST Rate <span style="color: red">*</span> </th>
                                            <th style="display:none" @*id="SGSTRate"*@ class="CGSTSGSTdffdgf">SGST Rate <span style="color: red">*</span> </th>
                                            <th style="display:none" @*id="IGSTRate"*@ class="IGSTRater">IGST Rate <span style="color: red">*</span> </th>
                                            <th style="display:none">Unit <span style="color: red">*</span> </th>
                                            <th>Quantity <span style="color: red">*</span> </th>
                                            <th>Unit Price <span style="color: red">*</span> </th>
                                            <th>Taxable Total <span style="color: red">*</span> </th>
                                            <th>GST Value  <span style="color: red">*</span> </th>
                                            <th>Total  Value  <span style="color: red">*</span> </th>
                                            <th>Delivery Date <span style="color: red">*</span> </th>
                                            <th>REMARKS <span style="color: red">*</span> </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TextBoxContainer">
                                        <tr class="mycontainer" id="mainrow">
                                            <td>
                                                @Html.TextBoxFor(m => m.Item, new { @class = "Item form-control", @Placeholder = "Item", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.PartNo, new { @class = "PartNo form-control", @Placeholder = "Part No.", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>

                                            <td>
                                                @Html.TextBoxFor(m => m.Description, new { @class = "Description form-control", @Placeholder = "Description" })

                                            </td>

                                            <td>
                                                @Html.TextBoxFor(m => m.HSNSACNo, new { @class = "HSNSACNo form-control", @Placeholder = "HSN/SAC No", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td style="display:none" id="CGSTRatet" class="CGSTSGSTdffdgf">
                                                @Html.TextBoxFor(m => m.CGSTRate, new { @class = "CGSTRate form-control", @Placeholder = "CGST Rate", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td style="display:none" id="SGSTRatet" class="CGSTSGSTdffdgf">
                                                @Html.TextBoxFor(m => m.SGSTRate, new { @class = "SGSTRate form-control", @Placeholder = "SGST Rate", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td style="display:none" id="IGSTRaterr" class="IGSTRater">
                                                @Html.TextBoxFor(m => m.IGSTRate, new { @class = "IGSTRate form-control", @Placeholder = "IGST Rate", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td style="display:none">

                                                @Html.TextBoxFor(m => m.Unit, new { @class = "Unit form-control", @Placeholder = "Unit", @onkeypress = "return isNumberOrDecimal(event);", @value = "1", @style = "display:none" })

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.Quantity, new { @class = "Quantity form-control", @Placeholder = "Quantity", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.UnitPrice, new { @class = "UnitPrice form-control", @Placeholder = "Unit Price", @onkeypress = "return isNumberOrDecimal(event);", @onchange = "return onchangeUnitPrice();" })

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.TaxableTotal, new { @class = "TaxableTotal form-control", @Placeholder = "Taxable Total", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.GSTValue, new { @class = "GSTValue form-control", @Placeholder = "GST Value", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.TotalValue, new { @class = "TotalValue form-control", @Placeholder = "Total  Value", @onkeypress = "return isNumberOrDecimal(event);" })

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.DeliveryDate, new { @class = "DeliveryDate form-control", @Placeholder = "Delivery Date" })

                                            </td>

                                            <td>
                                                @Html.TextBoxFor(m => m.Remark, new { @class = "Remark form-control", @Placeholder = "Remarks" })

                                            </td>
                                            <td>
                                                <input type="button" id="add" data-toggle="tooltip" data-original-title="Add" value="Add" style="width:80px" class="btn btn-success" />
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>

                        <div id="orderItems">
                            <table class="table  table-striped table-bordered" id="orderdetailsItems"></table>
                            <span id="orderItemError" style="color:red"></span>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="btn btn-info pull-left" type="submit" value="Save" id="btnsssubmit" name="Save" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@*<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">*@
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />*@


<script>
    $("#GST").click(function () {
        $("#GSTType").show();
    });
    $("#PAN").click(function () {
        $("#GSTType").hide();
    });

    $("#InterStatus").click(function () {
        $(".CGSTSGSTdffdgf").show();
        $(".IGSTRater").hide();
    });


    $("#IntraStatus").click(function () {
        $(".IGSTRater").show();
        $(".CGSTSGSTdffdgf").hide();
    });

    $("#PAN").click(function () {
        $("#GSTType").hide();
        $("#IGST").hide();
        $("#PanNumber").show();
        $("#CGSTSGSTT").hide();
    });
    $("#GST").click(function () {
        $("#PanNumber").hide();
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#add').click(function () {
            debugger;
            var isAllValid = true;
            if (!($('#Item').val().trim() != '' && ($('#Item').val().trim()))) {
                $("#Item").addClass('errortext');
                $('#Item').focus();
                isAllValid = false;
                return;
            }
            if (!($('#PartNo').val().trim() != '' && ($('#PartNo').val().trim()))) {
                $("#PartNo").addClass('errortext');
                $('#PartNo').focus();
                isAllValid = false;
                return;
            }
             if (!($('#Description').val().trim() != '' && ($('#Description').val().trim()))) {
                $("#Description").addClass('errortext');
                $('#Description').focus();
                isAllValid = false;
                return;
            }

             if (!($('#HSNSACNo').val().trim() != '' && ($('#HSNSACNo').val().trim()))) {
                $("#HSNSACNo").addClass('errortext');
                $('#HSNSACNo').focus();
                isAllValid = false;
                return;
            }
            if ($('input[name="InterStatus"]:checked').val() == "InterStatus") {
                if (!($('#CGSTRate').val().trim() != '' && ($('#CGSTRate').val().trim()))) {
                    $("#CGSTRate").addClass('errortext');
                    $('#CGSTRate').focus();
                    isAllValid = false;
                    return;
                }
                if (!($('#SGSTRate').val().trim() != '' && ($('#SGSTRate').val().trim()))) {
                    debugger;
                    $("#SGSTRate").addClass('errortext');
                    $('#SGSTRate').focus();
                    isAllValid = false;
                    return;
                }
            }
            if ($('input[name="InterStatus"]:checked').val() == "IntraStatus") {
                if (!($('#IGSTRate').val().trim() != '' && ($('#IGSTRate').val().trim()))) {
                    debugger;
                    $("#IGSTRate").addClass('errortext');
                    $('#IGSTRate').focus();
                    isAllValid = false;
                    return;
                }
            }
            // if (!($('#Unit').val().trim() != '' && ($('#Unit').val().trim()))) {
            //    $("#Unit").addClass('errortext');
            //    $('#Unit').focus();
            //    isAllValid = false;
            //    return;
            //}

             if (!($('#Quantity').val().trim() != '' && ($('#Quantity').val().trim()))) {
                $("#Quantity").addClass('errortext');
                $('#Quantity').focus();
                isAllValid = false;
                return;
            }
             if (!($('#UnitPrice').val().trim() != '' && ($('#UnitPrice').val().trim()))) {
                $("#UnitPrice").addClass('errortext');
                $('#UnitPrice').focus();
                isAllValid = false;
                return;
            }
             if (!($('#TaxableTotal').val().trim() != '' && ($('#TaxableTotal').val().trim()))) {
                $("#TaxableTotal").addClass('errortext');
                $('#TaxableTotal').focus();
                isAllValid = false;
                return;
            }
             if (!($('#GSTValue').val().trim() != '' && ($('#GSTValue').val().trim()))) {
                $("#GSTValue").addClass('errortext');
                $('#GSTValue').focus();
                isAllValid = false;
                return;
            }
             if (!($('#TotalValue').val().trim() != '' && ($('#TotalValue').val().trim()))) {
                $("#TotalValue").addClass('errortext');
                $('#TotalValue').focus();
                isAllValid = false;
                return;
            }
             if (!($('#DeliveryDate').val().trim() != '' && ($('#DeliveryDate').val().trim()))) {
                $("#DeliveryDate").addClass('errortext');
                $('#DeliveryDate').focus();
                isAllValid = false;
                return;
            }
             if (!($('#Remark').val().trim() != '' && ($('#Remark').val().trim()))) {
                $("#Remark").addClass('errortext');
                $('#Remark').focus();
                isAllValid = false;
                return;
            }

            debugger
            if (isAllValid) {
                var $newRow = $('#mainrow').clone().removeAttr('id');
                $('.Item', $newRow).prop('disabled', true).val($('#Item').val());
                $('.PartNo', $newRow).prop('disabled', true).val($('#PartNo').val());
                $('.Description', $newRow).prop('disabled', true).val($('#Description').val());
                $('.HSNSACNo', $newRow).prop('disabled', true).val($('#HSNSACNo').val());

                $('.CGSTRate', $newRow).prop('disabled', true).val($('#CGSTRate').val());
                $('.SGSTRate', $newRow).prop('disabled', true).val($('#SGSTRate').val());

                $('.IGSTRate', $newRow).prop('disabled', true).val($('#IGSTRate').val());

                $('.Unit', $newRow).prop('disabled', true).val($('#Unit').val());
                $('.Quantity', $newRow).prop('disabled', true).val($('#Quantity').val());
                $('.UnitPrice', $newRow).prop('disabled', true).val($('#UnitPrice').val());

                $('.TaxableTotal', $newRow).prop('disabled', true).val($('#TaxableTotal').val());
                $('.GSTValue', $newRow).prop('disabled', true).val($('#GSTValue').val());
                $('.TotalValue', $newRow).prop('disabled', true).val($('#TotalValue').val());

                $('.DeliveryDate', $newRow).prop('disabled', true).val($('#DeliveryDate').val());
                $('.Remark', $newRow).prop('disabled', true).val($('#Remark').val());

                //Replace add button with remove button
               $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');
                //remove id attribute from new clone row
                $('#Item,#PartNo,#Description,#HSNSACNo,#CGSTRate,#SGSTRate,#IGSTRate,#Unit,#Quantity,#UnitPrice,#TaxableTotal,#GSTValue,#TotalValue,#DeliveryDate,#Remark,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();
                //append clone row
                $('#orderdetailsItems').append($newRow);
                //clear select data
                $('#Item,#PartNo,#Description,#HSNSACNo,#CGSTRate,#SGSTRate,#IGSTRate,#Unit,#Quantity,#UnitPrice,#TaxableTotal,#GSTValue,#TotalValue,#DeliveryDate,#Remark').val('');
                $('#orderItemError').empty();
            }
        })
        //remove button click event
        $('#orderdetailsItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });
        $('#btnsssubmit').click(function () {
            var isAllValid = true;
            if ($('#PK_VendorId').val() == '0') {
                $("#PK_VendorId").addClass('errortext');
                $('#PK_VendorId').focus();

                return false;
            }
            if ($('#PaymentTerms').val() == '') {
                $("#PaymentTerms").addClass('errortext');
                $('#PaymentTerms').focus();
                return false;
            }
            if ($('#Address').val() == '') {
                $("#Address").addClass('errortext');
                $('#Address').focus();

                return false;
            }
            if ($('#Destination').val() == '') {
                $("#Destination").addClass('errortext');
                $('#Destination').focus();

                return false;
            }

                        if ($('input[type=radio][name=Type]:checked').length == 0) {
                            alert("Please select Type");
                            return false;
                        }


                   if ($('input[type=radio][name=Type]:checked').val() != 'PAN') {
                            if ($('input[type=radio][name=InterStatus]:checked').length == 0) {
                                alert("Please select  GST Type");
                                return false;
                            }
                        }

            //            if ($('input[type=radio][name=Type]:checked').val() != 'PAN') {
            //                if ($('input[type=radio][name=InterStatus]:checked').val() != 'IntraStatus') {
            //                    if ($('input[type=radio][name=CGST]:checked').length == 0) {
            //                        alert("Please select  CGST/SGST");
            //                        return false;
            //                    }
            //                }
            //}

            //if ($('input[type=radio][name=InterStatus]:checked').val() == 'IntraStatus') {
            //    if ($('input[type=radio][name=IGST]:checked').length == 0) {
            //        alert("Please select  IGST");
            //        return false;
            //    }
            //}

            $('#orderItemError').text('');
            var list = [];
            var errorItemCount = 0;
            $('#orderdetailsItems tr').each(function (index, ele) {
                if (
                    $('Name', this).val() == "") {
                    errorItemCount++;
                    $(this).addClass('error');
                } else {
                    var orderItem = {
                        Item: (
                            $('.Item', this).val()),
                        PartNo: $('.PartNo', this).val(),
                        Description: $('.Description', this).val(),
                        HSNSACNo: $('.HSNSACNo', this).val(),
                        CGSTRate: $('.CGSTRate', this).val(),
                        SGSTRate: $('.SGSTRate', this).val(),
                        IGSTRate: $('.IGSTRate', this).val(),
                        Unit: $('.Unit', this).val(),
                        Quantity: $('.Quantity', this).val(),
                        UnitPrice: $('.UnitPrice', this).val(),
                        TaxableTotal: $('.TaxableTotal', this).val(),
                        GSTValue: $('.GSTValue', this).val(),
                        TotalValue: $('.TotalValue', this).val(),
                        DeliveryDate: $('.DeliveryDate', this).val(),
                        Remark: $('.Remark', this).val(),
                    }
                    list.push(orderItem);
                }

            })
            console.log(list)
            if (errorItemCount > 0) {
                $('#orderItemError').text(errorItemCount + " invalid entry in order item list.");
                isAllValid = false;
            }

            if (list.length == 0) {
                $('#orderItemError').text('At least 1 row data required.');
                isAllValid = false;
                $("#divload").css({ 'display': 'none' });
                return false;
            }

            if (isAllValid) {
                debugger;
                var data = {
                    AddData: JSON.stringify(list),
                }
                debugger
                var formData = new FormData();
                //var files = $("#postedFile1").get(0).files;
                //formData.append("Image", files[0]);
                formData.append("PK_VendorId", $('#PK_VendorId').val());
                formData.append("Address", $('#Address').val());
                formData.append("PaymentTerms", $('#PaymentTerms').val());
                formData.append("Destination", $('#Destination').val());
                //formData.append("Type", $('#Type').val());
                formData.append("Type", $("input[name='Type']:checked").val());
                //formData.append("CGST", $("input[name='CGST']:checked").val());
                //formData.append("CGST", $('#CGST').val());
                //formData.append("IGST", $('#IGST').val());
                formData.append("PanNo", $('#PanNo').text());
                formData.append("dataValue", JSON.stringify(data));
                console.log(formData);
                $.ajax({
                    type: 'POST',
                    url: "AddProfile",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    //url: 'save',
                    //Type: "POST",
                    //DataType: "JSON",
                    //data: { dataValue: JSON.stringify(data), SiteID: $("#SiteID").val(), AssociateID: $("#UserID").val(), Amount: $("#Amount").val(), VisiteDate: $("#VisitDate").val(), postedFile1: formData},

                    //contentType: 'application/json',
                    success: function (response) {
                        //alert(result);
                        if (response.status) {

                            // here we will clear the form
                            list = [];

                            //$('#ExpenseID,#ExpenseName,#TransactionID,#PaymentMode').val('0');
                            //$('#Check,#Amount,#Date,#Remarks').val('');
                            //$('#orderdetailsItems').empty();
                            //$('#orderdetailsItems').hide();
                        }
                        else {
                            alert('Error');
                        }
                        $('#submit').text('Save');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#submit').text('Save');
                    }
                });
                $('#submit').text('Save');
            }
        });
    });

</script>
<script>
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>


<script>


    function GETCGSTSGST()
    {
        var CGSTRate = $("#CGSTRate").val(9);
        var SGSTRate = $("#SGSTRate").val(9);

    }

    function  GETIGST()
    {
        var IGSTRate = $("#IGSTRate").val(18);
    }

    function onchangeUnitPrice()
    {
        var CGST = $("#CGSTRate").val();
        var SGST = $("#SGSTRate").val();
        var IGST = $("#IGSTRate").val();
        var Quantity = $("#Quantity").val();
        var UnitPrice = $("#UnitPrice").val();
        var CGSTAmount = 0;
        var SGSTAmount = 0;
        var TotalPaidAmount = 0;
        var TotalGST = 0;
        var TaxbleAmount = (Number(Quantity) * Number(UnitPrice))
        //if()
        if (TaxbleAmount != null && TaxbleAmount != 0)
        {
            $("#TaxableTotal").val(TaxbleAmount);
            $("TaxableTotal").prop('disabled', true);
        }
        debugger
        if (CGST != null && CGST != 0 && CGST !="")
        {
             CGSTAmount = ((Number(TaxbleAmount) * Number(CGST)) / 100)
             SGSTAmount = ((Number(TaxbleAmount) * Number(SGST)) / 100)
             TotalGST = (Number(SGSTAmount) + Number(CGSTAmount))
             TotalPaidAmount = (Number(TaxbleAmount) + Number(TotalGST))
             $('#GSTValue').val(TotalGST);
             $('#TotalValue').val(TotalPaidAmount);
             $("GSTValue").prop('disabled', true);
             $("TotalValue").prop('disabled', true);
        }
        else if (IGST != null && IGST != 0 && IGST != "") {
            CGSTAmount = ((Number(TaxbleAmount) * Number(IGST)) / 100)
            TotalPaidAmount = (Number(TaxbleAmount) + Number(CGSTAmount))
            $('#GSTValue').val(CGSTAmount);
            $('#TotalValue').val(TotalPaidAmount);
            $("GSTValue").prop('disabled', true);
            $("TotalValue").prop('disabled', true);
        }

    }

    function onchangeGetAddress() {
        debugger;
        var PK_VendorId = $('#PK_VendorId').val();
        $.ajax({
            url: '/Admin/GetAddress', type: 'post', dataType: 'json',
            data: { 'PK_VendorId': PK_VendorId },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#Address").val(data.Address);
                    $("#PanNo").text(data.PanNo);
                    $("#Address").removeClass('errortext');
                    //$("#PanNo").removeClass('errortext');
                    $("#Name").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#Address").val('');
                    $("#Address").addClass('errortext');
                    $("#Name").addClass('errortext');
                    $('#Address').focus();
                }
            }
        });
    }






</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #191c24 !important;
    }
</style>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#DeliveryDate').datepicker({
        format: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>









































