@model BhartiNetwork.Models.Admin

@{
    ViewBag.Title = "PurcheseOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("PurcheseOrder", "Admin", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
{   <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purchese Order</h4>
                    <p style="color:red;">
                        @TempData["Vendor"]
                    </p>
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            @*<a href="/Admin/Project" class="btn btn-primary" style="border-radius:100px;">Add New</a>*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="table-responsive">
                                <table id="file_export" class="table table-striped table-bordered display">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>LoginId</th>
                                            <th>Name</th>
                                            <th>Upload File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstVendor != null)
                                            {
                                                int i = 1;
                                                foreach (var item in Model.lstVendor)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@item.LoginId</td>
                                                        <td>@item.Name</td>
                                                        <td>
                                                            <input type="hidden" id="VendorId" name="VendorId" value="@item.VendorId" />
                                                            @*<input type="file" name="postedFile" id="postedFile" />*@

                                                            <input type="hidden" id="fileName" />
                                                            <div class="kv-avatar center-block">
                                                                <input name="imgupload" type="file" accept=".pdf,.doc" class="file-loading" />

                                                                <button type="submit" class="btn btn-info btn-sm" onclick="UploadImage(@item.VendorId)">Submit</button>

                                                                @*<a href="/Admin/AddProfile?Id=@item.VendorId"class="btn btn-danger btn-sm">Upload</a>*@

                                                            </div>

                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var files = "";
    $('#file_export').on('change', '.file-loading', function () {
        debugger;
        files = $(this).get(0).files;
    });
    function UploadImage(Id) {
        debugger;
        var formData = new FormData();
        formData.append("file", files[0]);
        formData.append("Id", Id);
        $.ajax({
            type: 'POST',
            url: "/Admin/AddProfile",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response == 1) {
                    alert("successfully Profile Updated");
                }
                else {
                    //alert("Something Went Wrong..");
                }
            }
        })
    }
</script>

