@model BhartiNetwork.Models.Admin

@{
    ViewBag.Title = "PurchaseOrderList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("PurchaseOrderList", "Admin", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
{   <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Purchase Order List</h4>
                    <p style="color:red;">
                        @TempData["Employee"]
                    </p>
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>


                    @*<div class="row" style="margin-bottom:20px;">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleInputName1"> LoginId</label>
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = " LoginId" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" value="Search" class="btn btn-success" style="margin-top:25px;" />
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-12">

                            <div class="table-responsive">
                                <table id="file_export" class="table table-striped table-bordered display">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Address</th>
                                            <th>Destination</th>
                                            <th>Type</th>
                                            <th>PanNo</th>
                                            <th>Item</th>
                                            <th>PartNo</th>
                                            <th>Description</th>
                                            <th>HSNSACNo</th>
                                            <th>Unit</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Taxable Total</th>
                                            <th>GST Value</th>
                                            <th>Total Value</th>
                                            <th>CGST Rate</th>
                                            <th>SGST Rate</th>
                                            <th>IGST Rate</th>
                                            <th>Delivery Date</th>
                                            <th>Remark</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstPurchaseorder != null)
                                            {
                                                int i = 1;
                                                foreach (var item in Model.lstPurchaseorder)
                                                {
                                                    <tr>
                                                        <td>@i</td>  
                                                        <td>@item.Address</td>
                                                        <td>@item.Destination</td>
                                                        <td>@item.Type</td>
                                                        <td>@item.PanNo</td>
                                                        <td>@item.Item</td>
                                                        <td>@item.PartNo</td>
                                                        <td>@item.Description</td>
                                                        <td>@item.HSNSACNo</td>
                                                        <td>@item.Unit</td>
                                                        <td>@item.Quantity</td>
                                                        <td>@item.UnitPrice</td>
                                                        <td>@item.TaxableTotal</td>
                                                        <td>@item.GSTValue</td>
                                                        <td>@item.TotalValue</td>
                                                        <td>@item.CGSTRate</td>
                                                        <td>@item.SGSTRate</td>
                                                        <td>@item.IGSTRate</td>
                                                        <td>@item.DeliveryDate</td>
                                                        <td>@item.Remark</td>
                                                        <td>
                                                            <a href="/Admin/PrintPurchaseOrder?Id=@item.PurchaseOrderId" class="btn btn-success btn-sm">Print</a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}



